.fondoItem {
    background-color: #ff11152d;
    height: 130px;
    border-radius: 20px;
    color: white;
}

.genero {
    font-size: 40px;
}

.estiloNumero {
    font-size: 35px;
    font-weight: 800;
    margin-top: -25px;
}

.cm {
    font-size: 16px;
    font-weight: 400;
    margin-left: -6px;
}

.form-range {
    padding: 0px 20px;
}

input[type=range]::-webkit-slider-thumb {
    background: #FF3366;
}

.input {
    text-decoration: none;
    width: 65px;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    font-weight: 800;
    border: none;
    text-align: center;
}

.input:focus {
    border: none;
}

.input:focus-visible {
    outline: none;
}


.sumaresta {
    cursor: pointer;
    background-color: #FF4C4F5E;
    padding: 7px;
    border-radius: 15px;
    margin-left: 5px;
}

.generoDesactivo {
    background-color: #7D2F2F33;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}