<div class="card">
    <div class="card-body">
        <h4 class="titulo">Listar Tarjeta</h4>
        <table class="table">
            <tbody>
                <tr>
                    <td>Titular</td>
                    <td>1231231232131</td>
                    <td>12/12</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square text-warning"></i>
                        <i class="fa-solid fa-trash text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>