.example-container {
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 2rem;
    color: #F44336;
}

.imagen {
    margin-top: -20%;
}

.btn-success {
    background-color: #F44336;
    border-color: #F44336;
}

.btn-success:hover {
    background-color: #df3c30;
    border-color: #df3c30;
}