.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #e9e9e9;
}

.icono {
    float: right;
}

.correct {
    color: #17b83a;
    font-size: 25px;
}

.incorrect {
    color: #da2d2d;
    font-size: 25px;
}