<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Nombre" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCompleto}} </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
    </ng-container>

    <ng-container matColumnDef="estadoCivil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </th>
      <td mat-cell *matCellDef="let row"> {{row.estadoCivil}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </th>
      <td mat-cell *matCellDef="let row"> {{row.fechaIngreso | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="genero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
      <td mat-cell *matCellDef="let row"> {{row.genero}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
      <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <a class="pointer" style="color: #1878B0;">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)="eliminarEmpleado(i)" class="pointer" style="color: #E15639;">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Fila que se muestra si no hay resultados en el filtro -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">&nbsp;&nbsp;&nbsp;No hay datos relacionados con la búsqueda: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
</div>