<div class="card">
    <div class="card-body">
        <h4 class="titulo mb-3">Crear Tarjeta</h4>
        <form [formGroup]="form" (ngSubmit)="crearTarjeta()">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-circle-user"></i>
                </span>
                <input type="text" formControlName="titular" class="form-control" placeholder="Titular">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-credit-card"></i>
                </span>
                <input type="text" formControlName="numeroTarjeta" class="form-control" maxlength="16"
                       placeholder="Número Tarjeta">
            </div>
            <div class="row">
                <div class="col lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-calendar-days"></i>
                        </span>
                        <input type="text" formControlName="fechaExpiracion" class="form-control" maxlength="5"
                               placeholder="MM/YY">
                    </div>
                </div>
                <div class="col lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        <input type="password" formControlName="cvv" class="form-control" maxlength="3"
                               placeholder="CVC">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success btn-lg" type="submit">
                        <i class="fa-regular fa-circle-check"></i>
                        &nbsp;Aceptar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>