<h4 class="card-title mb-3">{{ obtenerPregunta() }}</h4>
<div class="col-lg-8 offset-lg-2">
    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let respuesta of listPregunta[_preguntaService.indexPregunta].respuestas; let i = index"
            (click)="respuestaSeleccionada(respuesta, i)"
            [ngClass]="AddClassOption(respuesta)">
            {{ respuesta.nombre }}
            <i class="fa-solid fa-circle-check fa-bounce icono correct"
               *ngIf="iconCorrecto(respuesta)"></i>
            <i class="fa-solid fa-circle-xmark fa-bounce icono incorrect"
               *ngIf="iconIncorrecto(respuesta)"></i>
        </li>
    </ul>
</div>
<app-botonera></app-botonera>